<div class="container">
  <%= form_tag '/auth/identity/callback', class: 'well form-horizontal col-lg-4 col-centered text-center' do |f| %>
    <h3>Please login</h3>
    <br />
      <div class="control-group col-centered">
        <div class="controls">
          <%= text_field_tag :auth_key, nil, :placeholder => "Email", :class => "form-control" %>
        </div>
      </div>
      <br />
      <div class="control-group col-centered">
        <div class="controls">
          <%= password_field_tag :password, nil, :placeholder => "Password", :class => "form-control"  %>
        </div>
      </div>
      <br />
      <div class="control-group col-centered">
        <%= submit_tag "Login", class: "btn btn-primary" %>
      </div>
      <br/>
    <div class="control-group col-centered">
      <%= link_to "Or sign up a new account >>", new_identity_path %>
    </div>
  <% end %>
</div>