<div class="container">
    <%= form_tag '/auth/ldap/callback', class: 'well form-horizontal col-lg-4 col-centered text-center' do |f| %>
      <h3>Please log in</h3>
      <br />
        <div class="control-group col-centered">
          <div class="controls">
            <%= text_field_tag :username, nil, :placeholder => "EF Username", :class => "form-control" %>
          </div>
        </div>
        <br />
        <div class="control-group col-centered">
          <div class="controls">
            <%= password_field_tag :password, nil, :placeholder => "Password", :class => "form-control"  %>
          </div>
        </div>
        <br />
        <div class="control-group col-centered">
          <%= submit_tag "Login", class: "btn btn-primary" %>
        </div>
        <br/>
        <div class="control-group col-centered">
          <%= link_to "Or sign in with your registered email >>", login_url %>
        </div>
    <% end %>
</div>
