<% provide(:title, "FH Builds") %>
<div class="container">
	<%= render 'header' %>
	<%= render 'tabs' %>
	<% if @releases %>
		<table id="releases" class="table table-striped">
			<thead class="text-center">
				<tr>
					<th>App</th>
					<th></th>
					<th>Notes</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<% @releases.each do |release| %>
					<tr>
						<td>
							<%= link_to (image_tag image_path('default_ios_app_icon.png'), size: "50x50", class: "icon"), release %>
						</td>
						<td class="name">
							<h5><small><%= link_to "#{release.name}", release, class: "product_name" %></small>
								<br>
								<small><%= release.version %></small>
								<br>
								<small><%= release.updated_at.strftime('%m/%e, %H:%M') %></small>
							</h5>
						</td>
						<td class="notes"><small><%= truncate(release.notes, length: 30) %> </small></td>
						<td class="install-btn">
							<%= link_to "Install", "itms-services://?action=download-manifest&url=#{manifest_ipa_url(release)}", class: "btn-sm btn-primary" %>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
	<% end %> <!-- end of @releases -->
</div>