<div id="releases" class="container">
	<%= render 'header' %>
	<% if @releases %>
	<% @releases.each do |release| %>
		<div class="panel">
			<div class="row">
				<div class="col-lg-6 col-md-8 col-xs-9">		
					<span class="col-lg-2 col-md-2 col-xs-3">
						<%= image_tag release.icon.icon_data.url.to_s, size: "60x60", class: "icon" %>
					</span>
					
					<span class="name col-lg-3 col-md-6 col-xs-5">
						<small><%= link_to "#{release.name}", release %></small>
					</span>

					<span class="version col-lg-2 col-md-6 col-xs-5">
						<small><%= link_to "v#{release.version}", release %></small>
					</span>

					<span class="col-lg-3 col-md-6 col-xs-5">
						<small><%= release.created_at.strftime('%b %e, %H:%M') %></small>
					</span>
					<span class="col-lg-3 col-md-2 col-xs-3">
						<small><%= release.identifier %></small>
					</span>
				</div>
				<div>
					<%	plist_url = manifest_url(release).sub('http', 'https') %>
					<%= link_to "Install App", "itms-services://?action=download-manifest&url=#{plist_url}", class: "btn btn-primary" %>
				</div>
			</div>			
		</div>
	<% end %>
<% end %>
</div>



