<div class="container">
	<%= render 'header' %>
	<div class="panel">
		<div class="panel-heading">
			<h5><%= "#{@release.name} v#{@release.version}"%>
				<br>
				<small class="btn-sm"><%= @release.identifier %></small>
				<br>
				<small class="btn-sm"><%= @release.created_at.strftime('%b %e, %Y %H:%M') %></small>
			</h5>
		</div>

		<div class="panel-body">
			<h5>Release notes:</h5>
			<p><%= @release.notes %></p>
			<%= link_to "Install", manifest_ipa_url(@release), class: "btn btn-primary" %>
			<% if current_user.has_role? :admin %>
				<div class="btn-destroy">
					<%= link_to 'Delete', @release, method: :delete, data: { confirm: 'Are you sure?' }, 
					class: "btn btn-danger" %>
				</div>
			<% end %>
		</div><!-- end of div.panel-body -->
	</div><!-- end of div.panel -->
</div>