<div class="container">
	<% if @products %>
	<table id="product" class="table table-striped">
	<thead class="text-center">
		<tr>
			<th colspan="2">App</th>
			<th class="latest_updated_version"><small>Version</small></th>
		</tr>
	</thead>
	<tbody>
		<% @products.each do |product| %>
			<% unless product.releases.blank? %>
				<% first_release = product.releases.first %>
				<tr>
					<td>
						<%= link_to (image_tag first_release.icon.icon_data.url, size: "50x50", class: "icon"), product_releases_path(product) %>
					</td>
					<td class="name">
						<h6><%= link_to "#{product.name}", product_releases_path(product), class: "product_name" %>
							<br>
							<small><%= first_release.identifier %></small>
							<br>
							<small><%= product.releases.last.updated_at.strftime('%b %e, %Y') %></small>
						</h6>
					</td>
					<td class="version"><small><%= product.releases.last.version %></small></td>
				</tr>
			<% end %>
		<% end %>
	</tbody>
</table>
<% end %> <!-- end of @products -->
</div>